BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> a3a4b524fb64

CREATE TABLE users (
    id SERIAL NOT NULL, 
    first_name VARCHAR NOT NULL, 
    last_name VARCHAR NOT NULL, 
    email VARCHAR NOT NULL, 
    password VARCHAR NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    is_active BOOLEAN, 
    is_superuser BOOLEAN, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

INSERT INTO alembic_version (version_num) VALUES ('a3a4b524fb64') RETURNING alembic_version.version_num;

-- Running upgrade a3a4b524fb64 -> 9087a88029a2

CREATE TYPE role_enum AS ENUM ('USER', 'ADMIN', 'SUPERADMIN');

ALTER TABLE users ADD COLUMN role role_enum DEFAULT 'USER' NOT NULL;

ALTER TABLE users ADD COLUMN id_new UUID DEFAULT gen_random_uuid();

ALTER TABLE users DROP CONSTRAINT users_pkey;

ALTER TABLE users DROP COLUMN id;

ALTER TABLE users ALTER COLUMN id_new SET NOT NULL;

ALTER TABLE users RENAME id_new TO id;

ALTER TABLE users ADD CONSTRAINT users_pkey PRIMARY KEY (id);

UPDATE alembic_version SET version_num='9087a88029a2' WHERE alembic_version.version_num = 'a3a4b524fb64';

-- Running upgrade 9087a88029a2 -> daa8b58c6422

CREATE TABLE pymes (
    name_company VARCHAR NOT NULL, 
    cuit VARCHAR NOT NULL, 
    legal_form VARCHAR NOT NULL, 
    activity VARCHAR NOT NULL, 
    corporate_email VARCHAR NOT NULL, 
    phone_number VARCHAR NOT NULL, 
    country VARCHAR NOT NULL, 
    state VARCHAR NOT NULL, 
    city VARCHAR NOT NULL, 
    address VARCHAR NOT NULL, 
    postal_code VARCHAR NOT NULL, 
    user_id UUID NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (corporate_email), 
    UNIQUE (cuit), 
    UNIQUE (user_id)
);

ALTER TABLE users DROP COLUMN is_superuser;

UPDATE alembic_version SET version_num='daa8b58c6422' WHERE alembic_version.version_num = '9087a88029a2';

-- Running upgrade daa8b58c6422 -> 59413fc4ac2a

CREATE TYPE status_enum AS ENUM ('PENDING', 'IN_PROGRESS', 'APPROVED', 'REJECTED');

CREATE TABLE credits (
    amount FLOAT NOT NULL, 
    employees INTEGER NOT NULL, 
    annual_sales FLOAT NOT NULL, 
    fiscal_year_closing VARCHAR NOT NULL, 
    total_assets FLOAT NOT NULL, 
    status status_enum NOT NULL, 
    pyme_id UUID NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(pyme_id) REFERENCES pymes (id)
);

UPDATE alembic_version SET version_num='59413fc4ac2a' WHERE alembic_version.version_num = 'daa8b58c6422';

COMMIT;

